# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# translations
*.mo
*.pot

# logs
*.log
logs/

# databases
db/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# pyenv
.python-version

# poetry
poetry.lock

# environments
.env
.venv/

# Visual Studio Code settings
.vscode/

# PyCharm settings
.idea/

# ideas, tasks, etc.
TODO.md
